@font-face {
  font-family: "NobleScarlet";
  src: url("./assets/NobleScarlet.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: NobleScarlet, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
