.header{
  height: 5vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #eee solid 1px;
  background-color: #edf8f6;
  color: #303133;
  flex-wrap: wrap;
  span{
    margin: 0 10px;
  }
}
