.container {
  width: 100%;
  height: 10vh;
  display: flex;
  box-sizing: content-box;
  border-bottom: #eee solid 1px;

  .space {
    width: 15vw;
    display: inline-block;
    height: 10vh;
    border-right: #eee solid 1px;
  }

  .weekday {
    width: 17vw;
    height: 10vh;
    background-color: #fcfcfc;
    color: #606266;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      border-right: #eee solid 1px;
    }

    span {
      font-size: small;
      color: #909399;
    }
  }
}
